################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GAME1017_EmptyEngine/v17/Browse.VC.opendb
/.vs/GAME1017_EmptyEngine/v17/Browse.VC.db-wal
/.vs/GAME1017_EmptyEngine/v17/Browse.VC.db-shm
/.vs/GAME1017_EmptyEngine/v17/Browse.VC.db
